.centralizar {
  display: flex;
  align-items: center;
  margin-top: 200px;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 10px;
}

.editCircule svg{
  color: green;
  

}


.title {
  color: green;
}
